
.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px;

}

.center-align{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.statistic-container {
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
  border-radius: 4px;
  background-color: rgb(244, 243, 243);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}